body {
	margin: 0px auto;
}

nav li {
	list-style: none;
	display: inline;
	margin-left: 25px;
}


nav li:nth-child(1) {
	float: left;
	margin-left: 0;
} 

nav a {
	color: #767676;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
}

nav a:hover {
	color: #000;
	text-decoration: underline;
}

nav ul:after {
	content: '';
	display: block;
	clear: both;
}

#book-now {
	color: white;
	padding: 4px 10px;
	background: #db3b32;
}

nav li:not(:nth-child(1)) {
	line-height: 59px;
}

nav ul{
	text-align: right;
	padding: 0px;
	width: 1302px;
	margin: 0px auto;
	padding: 0 32px;
}

nav img{
	text-align: left;
}

#social {
	clear: both;
}

#social li {
	display: block;
	text-align:left;
	width: 36px;
	margin-top: -10px;
	margin-left: 0px;
}

#social li:nth-child(1) {
	margin-top: 20px;
	margin-bottom: 12px;
}


#hero-header {
	background-image: url(https://cdn.shopify.com/s/files/1/0397/1381/files/hero-image-homepage.jpg?17623171769773294158);
	background-size: cover;
	position: relative;
	height: 100vh;
}

#scroll-icon {
	position: absolute;
	top: 85%;
	left: calc(50% - 20.5px); /* always aligns to the left of the image, we then take away half the size of the image to perfectly center*/ 
}


#about-section {
	background-color: #efefef;
	padding-top: 35px;
}

section {
	padding: 0px;
	width: 1302px;
	margin: 0px auto;
	padding: 0 32px;
}

h1 {
	font-family: sans-serif;
	text-align: center;
	padding-bottom: 30px;
	text-transform: uppercase;
}

h2 {
	font-family: sans-serif;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
}

h3 {
	font-family: sans-serif;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px 0px;
}

p {
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
	box-sizing: border-box;
	padding: 15 32px;
}

a {
	font-family: sans-serif;
	font-weight: bold;
}

.about-col {
	box-sizing: border-box;
	width: 33.33%;
	padding: 100px 35px;
	margin: 0 auto;
	float: left;
}

.about-col img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
 
#about-section:after {
	content: '';
	display: block;
	clear:both;
}

#experiences {
	padding-top: 35px;
}

#experiences h1 {
	padding-bottom: 0px;
	margin-bottom: 10px;
}

.products {
	width: 33%;
	box-sizing: border-box;
	background-color: #efefef;
	padding-bottom: 35px;
}

.products img {
	width: 100%;
}

.products a{
	margin: 0 auto;
	padding: 5px 30px;
	border: 4px solid #000;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	margin-left: calc(50% - 18%); /* always aligns to the left of the image, we then take away half the size of the image to perfectly center*/ 
}


